.container {
  text-align: center;
  margin-top: 100px;
  animation: shake 0.5s forwards;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-10px);
  }
  75% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}

h1 {
  font-size: 100px;
  font-family: "Arial", sans-serif;
}

h2 {
  font-size: 40px;
  margin-top: 30px;
}

p {
  font-size: 20px;
  margin-top: 20px;
}

.icon-container {
  position: relative;
}

.left-icon {
  position: absolute;
  top: 50%;
  left: 200px;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  animation: rotateLeft 5s linear infinite;
}

.right-icon {
  position: absolute;
  top: 50%;
  right: 200px;
  transform: translate(50%, -50%);
  width: 100px;
  height: 100px;
  animation: rotateRight 5s linear infinite;
}

@keyframes rotateLeft {
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes rotateRight {
  100% {
    transform: translate(50%, -50%) rotate(360deg);
  }
}
